* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  line-height: 1.4;
}

.hero {
  background: linear-gradient(
      to right,
      rgba(0, 24, 122, 0.8),
      rgba(0, 65, 176, 0.5)
    ),
    url("./public/hero.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.heroLeft {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 80ch;
  margin-left: 40px;
  line-height: 1.2;
}

.heroLeft h1 {
  font-size: 4.5rem;
  color: white;
  margin-block: 48px;
}
.heroLeft span {
  background: #121fcf;
  background: linear-gradient(to right, #2746d3 0%, #6198ef 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroLeft p {
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
}
.heroLeft .heroButtonContainer {
  margin-top: 48px;
}
.heroLeft .heroButtonContainer button {
  padding-block: 15px;
  border-radius: 20px;
  font-size: 1.2rem;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 40%;
}

.heroLeft .heroButtonContainer button:hover {
  filter: brightness(1.1);
}

.heroLeft .heroButtonContainer button:active {
  filter: brightness(1.5);
}
.heroLeft .heroButtonContainer #buttonLeft {
  background: linear-gradient(
    to right,
    rgba(1, 225, 255, 0.4),
    rgb(16, 165, 228)
  );
  margin-right: 30px;
}
.heroLeft .heroButtonContainer #buttonRight {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.heroAnimation {
  justify-self: center;
  align-self: center;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  color: rgba(245, 245, 245, 0.774);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hero .heroAnimation.hidden {
  display: none;
}

.heroAnimation .animationContainer {
  height: 60px;
  width: 30px;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

.heroAnimation .animationContainer .animationItem {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation-name: swipeDownAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes swipeDownAnimation {
  from {
    top: 0px;
  }
  to {
    top: 30px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  font-size: 1.2rem;
  color: black;
  transition: all 0.7s;
  z-index: 9999;
}

nav .bars {
  font-size: 2rem;
  display: none;
}
nav a {
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
nav a:hover {
  border-bottom: 4px solid rgb(16, 165, 228);
}

.nav {
  display: none;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  background-color: white;
  color: black;
  transition: top 0.3s ease-in-out;
}

.navShow {
  display: flex;
  right: 0;
  padding: 0;
  padding-top: 20px;
}

.navShow i {
  text-align: end;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}
.navShow a {
  color: black;
  text-decoration: none;
}
.navShow ul {
  list-style-type: none;
}
.navShow li {
  padding: 20px 0;
  text-align: center;
}

.logoName {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.logoName img {
  width: 250px;
  transition: all 0.3s ease;
}

.logoNameScrolled img {
  width: 180px;
}

.navItems {
  margin-right: 40px;
}

.navItems ul {
  display: flex;
  justify-content: end;
  gap: 2em;
  list-style: none;
  align-items: center;
}

.navItems ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.oNas {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-block: 128px;
}

.oNas h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-top: 32px;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #67bafe 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oNas p {
  text-align: center;
  margin-bottom: 32px;
}

.oNasMain {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 3em;
}
.oNasLeft {
  width: 50%;
  padding: 40px;
}
.oNasLeft .image {
  background: url("./public/image.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
  -webkit-box-shadow: 0px 8px 100px 3px rgba(103, 148, 175, 1);
  -moz-box-shadow: 0px 8px 100px 3px rgba(103, 148, 175, 1);
  box-shadow: 0px 8px 100px 3px rgba(103, 148, 175, 1);
  overflow: hidden;
  transition: transform 0.5s ease;
}
.oNasLeft .image:hover {
  transform: scale(1.02);
}

.oNasRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.oNasRight p {
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
}

.oNasRight .dodatkoweInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 32px;
  justify-content: center;
}
.dodatkoweInfo .dodatkoweInfoChild {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 16px;
  transition: all 0.5s ease;
  padding: 10px;
}
.dodatkoweInfo .dodatkoweInfoChild:hover {
  border: 1px solid rgb(41, 110, 249);
  transform: scale(1.05);
}
.dodatkoweInfoChild i {
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(to right, rgb(1, 98, 255), rgb(16, 165, 228));
  border-radius: 16px;
  color: white;
}

.dodatkoweInfoChild h3 {
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  font-size: 1rem;
}

.usługi {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background-color: rgba(240, 248, 255, 0.484);
}

.usługi h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-top: 128px;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #67bafe 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.usługi p {
  text-align: center;
  margin-bottom: 64px;
}

.usługiContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.usługiContainerChild {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 16px;
  padding: 30px;
  background: radial-gradient(
    rgba(165, 197, 249, 0.104),
    rgba(200, 228, 239, 0.042)
  );
  transition: all 0.5s ease-in;
}

.usługiContainerChild:hover {
  background: radial-gradient(
    rgba(162, 191, 238, 0.252),
    rgba(117, 194, 227, 0.163)
  );
  transform: scale(1.01);
}

.usługiContainerChild i {
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  text-align: center;
  align-content: center;
  background: linear-gradient(to right, rgb(1, 98, 255), rgb(16, 165, 228));
  border-radius: 16px;
  color: white;
}

.usługiContainerChild h3 {
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.usługiContainerChild p {
  font-size: 1rem;
  color: rgb(28, 28, 28);
  text-align: center;
  margin-bottom: 16px;
}

.usługiContainerChild ul {
  margin-left: 20px;
  list-style: none;
}
.usługiContainerChild ul li:before {
  content: "✓";
  color: #019025;
}
.usługiContainerChild li {
  text-align: center;
  list-style-positionv: inside;
  padding: 8px 0;
  font-size: 1rem;
  color: rgb(28, 28, 28);
}

/* .usługiContainerChild span {
  font-weight: 600;
} */

.iContainer {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  padding: 8px 0;
}

.kontakt {
  padding: 0 40px;
}
.kontakt h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-top: 128px;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #67bafe 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kontakt p {
  text-align: center;
  margin-bottom: 64px;
}

.kontaktMain {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
}
.kontaktInfoCards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.kontakt .card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 16px;
  width: 100%;
  min-width: 260px;
  padding: 10px;
}

.kontakt .card .cardDodatkowe {
  width: 100%;
  margin-left: 20px;
}

.kontakt .card i {
  font-size: 1.7rem;
  text-align: center;
  width: 40px;
  padding: 20px 15px;
  align-items: center;
  background: linear-gradient(to right, rgb(1, 98, 255), rgb(16, 165, 228));
  border-radius: 16px;
  color: white;
}

.kontakt .card h3 {
  color: grey;
  font-size: 1rem;
  margin-bottom: 5px;
}

.kontakt .card p {
  margin-bottom: 0;
  text-align: start;
}

.kontakt iframe {
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-top: 128px;
  border-top: 1px solid rgb(184, 184, 184);
  background-color: rgba(240, 248, 255, 0.484);
}
.footerMain {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 16px;
  gap: 2em;
}

.footerMainItem {
  width: 25%;
}

.footerMainItem ul {
  list-style-type: none;
}

.footerMainItem li {
  padding: 4px 0;
}

.footerMainItem a {
  text-decoration: none;
  color: rgb(94, 94, 94);
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}
.footerMainItem a:hover {
  border-bottom: 2px solid rgb(16, 165, 228);
}

.footerMainItem p {
  line-height: 25px;
  color: rgb(94, 94, 94);
}

.footerMainItem h3 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.footerCopyright {
  text-align: center;
  padding: 32px 0;
  font-size: 1.2rem;
}

@media only screen and (width <= 1400px) {
  .oNasMain {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .oNasLeft,
  .oNasRight {
    width: 100%;
    padding: 0;
  }
  .oNasLeft .image {
    height: 300px;
  }
}
@media only screen and (width <= 900px) {
  nav .navItems {
    display: none;
  }
  nav .bars {
    display: block;
    margin-right: 50px;
    cursor: pointer;
  }
  .usługiContainer {
    grid-template-columns: auto;
  }
  .kontaktMain {
    grid-template-columns: auto;
  }
}
@media only screen and (width <= 750px) {
  .dodatkoweInfoChild {
    flex-basis: 100%;
    height: auto;
  }
  .usługiContainerChild {
    flex-basis: 100%;
  }
  .hero h1 {
    margin-top: 96px;
    font-size: 3.5rem;
  }
  .hero .heroLeft {
    width: 70%;
  }
  .footerMain {
    flex-direction: column;
  }
  .footerMainItem {
    width: 100%;
  }
}
@media only screen and (width <= 500px) {
  .navShow {
    width: 100%;
  }
  .heroAnimation {
    margin-bottom: 64px;
  }
  .hero h1 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1rem;
    line-height: 20px;
  }
  .heroLeft {
    width: 90% !important;
  }

  .oNasRight p {
    font-size: 1rem;
  }
  .oNas,
  .usługi,
  .kontakt,
  footer {
    padding: 0 20px;
  }
  .heroLeft {
    margin-left: 20px;
  }
}

@media only screen and (width <= 300px) {
  .oNas,
  .usługi,
  .kontakt,
  footer {
    padding: 0 10px;
  }
  .heroLeft {
    margin-left: 10px;
  }
}
