* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 2000px;
  position: relative;
}

.hero {
  background: linear-gradient(
      to right,
      rgba(0, 24, 122, 0.8),
      rgba(0, 65, 176, 0.5)
    ),
    url("https://i0.wp.com/picjumbo.com/wp-content/uploads/white-tir-truck-in-motion-driving-on-highway.jpg?w=2210&quality=70");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.heroLeft {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 40px;
}

.heroLeft h1 {
  font-size: 4rem;
  color: white;
}
.heroLeft span {
  background: #121fcf;
  background: linear-gradient(to right, #2746d3 0%, #366cc2 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroLeft p {
  color: grey;
  font-size: 1.2rem;
  line-height: 30px;
}
.heroLeft .heroButtonContainer {
  margin-top: 32px;
}
.heroLeft .heroButtonContainer button {
  padding: 10px;
  border-radius: 16px;
  font-size: 1.2rem;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 40%;
}

.heroLeft .heroButtonContainer button:hover {
  filter: brightness(1.1);
}

.heroLeft .heroButtonContainer button:active {
  filter: brightness(1.5);
}
.heroLeft .heroButtonContainer #buttonLeft {
  background: linear-gradient(
    to right,
    rgba(1, 225, 255, 0.4),
    rgb(16, 165, 228)
  );
  margin-right: 30px;
}
.heroLeft .heroButtonContainer #buttonRight {
  background-color: rgba(121, 121, 121, 0.742);
}
.heroAnimation {
  justify-self: center;
  align-self: center;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  color: rgba(245, 245, 245, 0.774);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hero .heroAnimation.hidden {
  display: none;
}

.heroAnimation .animationContainer {
  height: 60px;
  width: 30px;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

.heroAnimation .animationContainer .animationItem {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation-name: swipeDownAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes swipeDownAnimation {
  from {
    top: 0px;
  }
  to {
    top: 30px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  transition: all 0.7s;
  z-index: 9999;
}

nav .bars {
  font-size: 2rem;
  display: none;
}
nav a {
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}
nav a:hover {
  border-bottom: 4px solid rgb(16, 165, 228);
}

.nav {
  display: none;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  right: -100%;
  top: 0;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  background-color: white;
  color: black;
  transition: top 0.3s ease-in-out;
}

.navShow {
  display: flex;
  right: 0;
  padding: 0;
  padding-top: 20px;
}

.navShow i {
  text-align: end;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}
.navShow a {
  color: black;
  text-decoration: none;
}
.navShow ul {
  list-style-type: none;
}
.navShow li {
  padding: 20px 0;
  text-align: center;
}
.nav-scrolled {
  background-color: white;
  color: black;
}
.nav-scrolled a {
  color: black !important;
}

.logoName {
  display: flex;
  justify-content: center;
}

.logoName img {
  width: 150px;
}

.navItems {
  width: 60%;
  margin-right: 20px;
}
.navItems ul {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}

.navItems ul li {
  margin: 0 30px;
}

.navItems ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.oNas {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  margin-top: 128px;
}

.oNas h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #67bafe 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oNas p {
  text-align: center;
  margin-bottom: 32px;
}

.oNasMain {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 3em;
}
.oNasLeft {
  width: 50%;
  padding: 40px;
}
.oNasLeft .image {
  background: linear-gradient(
      to bottom,
      rgba(0, 24, 122, 0),
      rgba(0, 65, 176, 0.842)
    ),
    url("https://plus.unsplash.com/premium_photo-1661672133458-8fb71f97757b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
  -webkit-box-shadow: 0px 8px 100px 7px rgba(103, 148, 175, 1);
  -moz-box-shadow: 0px 8px 100px 7px rgba(103, 148, 175, 1);
  box-shadow: 0px 8px 100px 7px rgba(103, 148, 175, 1);
  overflow: hidden;
  transition: transform 0.5s ease;
}
.oNasLeft .image:hover {
  transform: scale(1.02);
}
.oNasLeft .image .bluredBG {
  width: 80%;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.bluredBG p {
  text-align: start;
  font-size: 2rem;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.bluredBG span {
  font-size: 1rem;
}

.oNasRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.oNasRight p {
  text-align: start;
  line-height: 30px;
  font-size: 1.2rem;
}

.oNasRight .dodatkoweInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 32px;
  justify-content: center;
}
.dodatkoweInfo .dodatkoweInfoChild {
  width: 45%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 16px;
  transition: all 0.5s ease;
}
.dodatkoweInfo .dodatkoweInfoChild:hover {
  border: 1px solid rgb(41, 110, 249);
  transform: scale(1.05);
}
.dodatkoweInfoChild i {
  font-size: 1.5rem;
  width: 50px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background: linear-gradient(to right, rgb(1, 98, 255), rgb(16, 165, 228));
  border-radius: 16px;
  color: white;
}

.dodatkoweInfoChild h3 {
  text-align: start;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.dodatkoweInfoChild p {
  font-size: 1.2rem;
  color: grey;
}

.usługi {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background-color: rgba(240, 248, 255, 0.484);
}

.usługi h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-top: 96px;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #67bafe 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.usługi p {
  text-align: center;
  margin-bottom: 32px;
}

.usługiContainer {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.usługiContainerChild {
  width: 30%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 16px;
  padding-bottom: 30px;
  background: radial-gradient(
    rgba(165, 197, 249, 0.104),
    rgba(200, 228, 239, 0.042)
  );
  transition: all 0.5s ease-in;
}

.usługiContainerChild:hover {
  background: radial-gradient(
    rgba(162, 191, 238, 0.252),
    rgba(117, 194, 227, 0.163)
  );
  transform: scale(1.01);
}

.usługiContainerChild i {
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  text-align: center;
  align-content: center;
  background: linear-gradient(to right, rgb(1, 98, 255), rgb(16, 165, 228));
  border-radius: 16px;
  color: white;
}

.usługiContainerChild h3 {
  text-align: start;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.usługiContainerChild p {
  font-size: 1.2rem;
  color: grey;
  text-align: start;
}

.usługiContainerChild ul {
  margin-left: 20px;
}
.usługiContainerChild li::marker {
  color: #67bafe;
}

@keyframes showOnLoad {
  from {
    top: -50px;
    filter: blur(10px);
  }
  to {
    top: 0px;
    filter: blur(0px);
  }
}

@media only screen and (width <= 1400px) {
  .dodatkoweInfoChild {
    flex-basis: calc(50%-2em);
    height: 200px;
  }
  .oNasMain {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .oNasLeft,
  .oNasRight {
    width: 100%;
    padding: 0;
  }
  .oNasLeft .image {
    height: 300px;
  }
}
@media only screen and (width <= 900px) {
  nav .navItems {
    display: none;
  }
  nav .bars {
    display: block;
    margin-right: 50px;
    cursor: pointer;
  }
  .usługiContainerChild {
    flex-basis: calc(50% - 2em);
  }
}
@media only screen and (width <= 750px) {
  .dodatkoweInfoChild {
    flex-basis: 100%;
    height: auto;
  }
  .usługiContainerChild {
    flex-basis: 100%;
  }
  .hero h1 {
    margin-top: 96px;
    font-size: 3.5rem;
  }
  .hero .heroLeft {
    width: 70%;
  }
}
@media only screen and (width <= 500px) {
  .navShow {
    width: 100%;
  }
  .heroAnimation {
    margin-bottom: 64px;
  }
  .hero h1 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1rem;
    line-height: 20px;
  }
  .heroLeft {
    width: 90% !important;
  }
  .bluredBG {
    margin: 0 20px;
    display: none !important;
  }
  .bluredBG p {
    font-size: 1.5rem;
  }
  .oNasRight p {
    font-size: 1rem;
  }
}
